[submodule "src/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words"]
	path = src/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words
	url = https://github.com/shutterstock/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words.git
